.primaryNav {
	margin: 0;
	padding: 0;	
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			padding: 10px;
			color: #333;
		}
	}
}

.navContainer {
	background: lightgrey;
	width: 100%;
	z-index: 10;
	height: 9vh;
}

.navChild {
	justify-content: space-between;
	max-width: 85%;
	margin: auto;

	h1 {
		margin: 0;
	}
}
