.primaryNav {
	margin: 0;
	padding: 0;
	font-family: 'Cutive Mono', sans-serif;
	text-transform: lowercase;
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			padding: 10px;
			color: #333;
		}
	}
}

.navContainer {
	height: 8.5vh;
	background: #fff;
	width: 100%;
	z-index: 10;
}

.navChild {
	justify-content: space-between;
	max-width: 85%;
	margin: auto;

	h1 {
		margin: 0;
	}
}